@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sam3KRFont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-sam3kr {
    font-family: 'Sam3KRFont';
}

@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .content-container {
        flex-direction: column;
    }
}